In [112]:
import pandas as pd
import requests
import datetime

#Fairbanks Airport 64.816667, -147.866667 135m
#MET is 3m off the ground

#Importing Empirical data from Fairbanks MET Tower and
# cleaning it up a bit

empirical_df = pd.read_csv('FairbanksAirport.csv')
empirical_df.set_index('Year', inplace=True)

empirical_df = empirical_df.loc[1981:]

empirical_df

       JAN   FEB   MAR   APR   MAY   JUN   JUL   AUG   SEP   OCT   NOV   DEC
Year
1981  2.09  2.08  2.99  3.69  3.54  3.70  3.37  3.10  2.81  2.47  2.37  1.43
1982  1.94  2.16  2.40  2.96  3.46  3.02  3.20  2.47  2.92  2.89  1.56  1.93
1983  1.74  2.11  2.86  3.04  4.17  3.60  3.28  2.97  2.87  2.90  1.58  0.95
1984  1.42  1.55  2.74  2.76  3.34  2.93  3.48  3.05  2.38  2.36  1.71  1.23
1985  1.69  1.94  2.15  3.20  3.76  3.78  3.38  3.33  3.40  2.07  0.90  1.27
1986  1.65  1.57  2.31  3.14  3.22  3.27  3.39  2.79  2.73  2.36  1.06  1.25
1987  1.61  1.43  1.92  3.21  3.61  3.42  3.22  2.93  2.55  2.08  1.68  1.28
1988  1.16  2.34  3.12  3.51  3.09  2.86  2.80  2.57  2.11  2.21  1.72  1.61
1989  1.02  1.96  2.58  1.90  2.97  3.46  2.87  2.65  2.85  2.77  1.81  2.03
1990  1.38  1.26  2.38  2.95  2.91  3.31  2.74  2.92  3.22  2.76  2.02  1.87
1991  1.96  2.41  2.31  2.16  3.00  3.06  2.84  3.50  2.87  2.51  2.23  1.91
1992  1.48  1.02  2.17  3.17  3.74  2.98  2.64  2.77  3.07  2.24  1.98  1.15
1993  1.88  1.71  1.69  3.00  3.99  2.69  2.86  3.01  2.94  2.27  1.95  1.80
1994  2.15  1.91  2.50  3.02  3.28  3.47  2.80  2.85  2.61  1.96  2.29  1.14
1995  0.66  1.61  2.45  2.58  2.96  2.89  3.04  2.70  2.90  2.36  0.78  1.45
1996  1.50  2.34  2.51  3.71  3.39  3.26  3.04  3.43  2.92  2.00  1.36  0.42
1997  0.11  1.70  2.37  2.93  3.84  3.87  2.80  2.75  2.19  2.27  1.25  0.43
1998  1.34  0.97  1.25  2.06  2.57  2.27  1.98  1.84  1.74  1.80  0.46  0.54
1999  0.76  0.19  1.43  2.55  3.01  2.30  2.24  1.55  2.03  1.70  0.77  1.08
2000  0.85  0.87  2.16  2.97  2.94  2.20  1.92  2.62  1.89  1.22  0.91  0.67
2001  1.36  0.98  2.13  2.76  3.40  3.05  2.81  2.62  2.16  2.52  1.83  1.47
2002  2.17  1.07  2.02  1.97  3.03  2.27  1.92  2.15  1.44 -1.00 -1.00 -1.00

In [110]:
#NASA
nasa_df = pd.DataFrame(columns=['Year', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'])
nasa_df.set_index('Year')
for year in range(1973,2003):
    nasa_df.loc[len(nasa_df.index)] = [year, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
nasa_df = nasa_df.astype(float)
nasa_df = nasa_df.astype({'Year':int})
nasa_df.set_index('Year', inplace=True)
url = 'https://power.larc.nasa.gov/api/temporal/monthly/point?start=1981&end=2002&latitude=64.816667&longitude=-147.866667&community=ag&parameters=WS2M'
response = requests.get(url)
d = response.json()['properties']['parameter']['WS2M']

for time, speed in d.items():
    if time[-2:] != '13':
        dt = datetime.datetime.strptime(time[-2:], "%m")
        month_name = dt.strftime("%b").upper()
        nasa_df.loc[float(time[:-2])][month_name] = float(speed)
nasa_df = nasa_df.loc[1981:]
nasa_df

       JAN   FEB   MAR   APR   MAY   JUN   JUL   AUG   SEP   OCT   NOV   DEC
Year
1981  1.99  1.75  1.54  1.17  0.89  0.84  0.84  0.80  0.79  0.99  1.50  1.45
1982  2.09  1.39  1.40  1.16  0.81  0.69  0.76  0.64  0.77  0.96  1.41  2.17
1983  2.47  1.99  2.02  1.02  1.16  0.73  0.63  0.69  0.74  1.04  1.32  1.60
1984  1.63  2.03  1.80  0.95  0.73  0.59  0.74  0.78  0.77  1.05  1.40  1.49
1985  1.81  1.77  1.24  1.16  0.88  0.75  0.72  0.70  0.78  0.95  1.24  1.67
1986  2.62  1.77  1.59  1.16  0.93  0.69  0.69  0.69  0.71  1.05  1.49  1.87
1987  1.95  1.80  1.52  1.12  0.98  0.84  0.73  0.70  0.77  0.90  1.74  1.27
1988  1.89  2.12  2.02  1.44  0.91  0.62  0.69  0.70  0.69  1.16  1.91  1.58
1989  1.26  1.51  1.89  0.93  0.77  0.82  0.66  0.63  0.82  1.05  1.48  1.96
1990  1.88  1.25  1.33  0.98  0.68  0.65  0.62  0.69  0.81  1.14  1.16  1.63
1991  1.83  2.28  1.08  0.88  0.80  0.72  0.70  0.91  0.80  0.91  1.91  1.86
1992  2.27  1.62  1.30  1.12  0.80  0.70  0.62  0.70  0.89  0.94  1.57  1.84
1993  1.65  1.77  1.35  1.16  1.11  0.63  0.68  0.77  0.83  0.89  1.19  1.88
1994  2.59  1.69  1.40  1.18  0.91  0.78  0.68  0.73  0.77  0.81  1.33  1.51
1995  1.49  1.57  1.41  1.01  0.91  0.69  0.78  0.68  0.78  0.93  1.21  2.10
1996  1.52  1.56  1.33  1.33  0.77  0.72  0.68  0.80  0.69  0.88  1.32  1.29
1997  1.83  1.92  1.72  1.21  0.88  0.72  0.59  0.68  0.67  0.93  1.21  1.63
1998  2.23  2.12  1.30  1.08  0.87  0.65  0.66  0.80  0.82  0.94  1.19  1.62
1999  1.69  1.25  1.51  1.16  0.92  0.70  0.70  0.60  0.77  0.96  1.34  1.88
2000  1.80  1.45  1.72  1.39  0.83  0.67  0.68  0.77  0.70  0.91  1.29  2.17
2001  2.09  1.47  1.77  1.20  0.84  0.70  0.64  0.79  0.62  1.07  1.36  1.54
2002  1.44  1.64  1.55  1.09  0.92  0.73  0.73  0.72  0.64  1.02  1.47  1.30

In [121]:
abs(empirical_df.sub(nasa_df)).div(nasa_df)*100

,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
Year,,,,,,,,,,,,
1981,5.025126,18.857143,94.155844,215.384615,297.752809,340.476190,301.190476,287.500000,255.696203,149.494949,58.000000,1.379310
1982,7.177033,55.395683,71.428571,155.172414,327.160494,337.681159,321.052632,285.937500,279.220779,201.041667,10.638298,11.059908
1983,29.554656,6.030151,41.584158,198.039216,259.482759,393.150685,420.634921,330.434783,287.837838,178.846154,19.696970,40.625000
1984,12.883436,23.645320,52.222222,190.526316,357.534247,396.610169,370.270270,291.025641,209.090909,124.761905,22.142857,17.449664
1985,6.629834,9.604520,73.387097,175.862069,327.272727,404.000000,369.444444,375.714286,335.897436,117.894737,27.419355,23.952096
1986,37.022901,11.299435,45.283019,170.689655,246.236559,373.913043,391.304348,304.347826,284.507042,124.761905,28.859060,33.155080
1987,17.435897,20.555556,26.315789,186.607143,268.367347,307.142857,341.095890,318.571429,231.168831,131.111111,3.448276,0.787402
1988,38.624339,10.377358,54.455446,143.750000,239.560440,361.290323,305.797101,267.142857,205.797101,90.517241,9.947644,1.898734
1989,19.047619,29.801325,36.507937,104.301075,285.714286,321.951220,334.848485,320.634921,247.560976,163.809524,22.297297,3.571429
1990,26.595745,0.800000,78.947368,201.020408,327.941176,409.230769,341.935484,323.188406,297.530864,142.105263,74.137931,14.723926
1991,7.103825,5.701754,113.888889,145.454545,275.000000,325.000000,305.714286,284.615385,258.750000,175.824176,16.753927,2.688172
1992,34.801762,37.037037,66.923077,183.035714,367.500000,325.714286,325.806452,295.714286,244.943820,138.297872,26.114650,37.500000
1993,13.939394,3.389831,25.185185,158.620690,259.459459,326.984127,320.588235,290.909091,254.216867,155.056180,63.865546,4.255319
1994,16.988417,13.017751,78.571429,155.932203,260.439560,344.871795,311.764706,290.410959,238.961039,141.975309,72.180451,24.503311
1995,55.704698,2.547771,73.758865,155.445545,225.274725,318.840580,289.743590,297.058824,271.794872,153.763441,35.537190,30.952381
1996,1.315789,50.000000,88.721805,178.947368,340.259740,352.777778,347.058824,328.750000,323.188406,127.272727,3.030303,67.441860
1997,93.989071,11.458333,37.790698,142.148760,336.363636,437.500000,374.576271,304.411765,226.865672,144.086022,3.305785,73.619632
1998,39.910314,54.245283,3.846154,90.740741,195.402299,249.230769,200.000000,130.000000,112.195122,91.489362,61.344538,66.666667
1999,55.029586,84.800000,5.298013,119.827586,227.173913,228.571429,220.000000,158.333333,163.636364,77.083333,42.537313,42.553191
2000,52.777778,40.000000,25.581395,113.669065,254.216867,228.358209,182.352941,240.259740,170.000000,34.065934,29.457364,69.124424
2001,34.928230,33.333333,20.338983,130.000000,304.761905,335.714286,339.062500,231.645570,248.387097,135.514019,34.558824,4.545455
2002,50.694444,34.756098,30.322581,80.733945,229.347826,210.958904,163.013699,198.611111,125.000000,198.039216,168.027211,176.923077